<<<<<<< HEAD
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 80%;
    }
}
=======
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 80%;
    }
}
>>>>>>> 75cb4f550ab49ec5340e8135e76d3185025e38d5
